<mat-toolbar class="mb-0">
  <mat-toolbar-row class="bg-blue-500 flex px-32 justify-between items-between text-sm text-white py-0">
    <div class="flex items-center"><mat-icon class="me-2">mail</mat-icon>Email : {{"abdelmalek.essadi@uae.ma"}}</div>
    <div class="flex items-center"><mat-icon class="me-2">phone</mat-icon>Phone : +212-658-045-721</div>
    <div class="flex items-center"><mat-icon class="me-2">position</mat-icon>Addresse : Av. Sebta, Tétouan 93002</div>
  </mat-toolbar-row>
  <mat-toolbar-row class="bg-white flex border-b py-10 px-32 justify-between text-md">
    <a routerLink="/home">
      <img src="assets/logo.png" alt="University of Toronto" width="150px"/>
    </a>
    <div>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/faculties">Faculties</a>
      <a
        *ngIf="authService.validateRoles(['ROLE_STUDENT'], 'any')"
        mat-button
        routerLink="/student-services"
      >
        Student services
      </a>
      <a
        *ngIf="authService.validateRoles(['ROLE_TEACHER'], 'any')"
        mat-button
        routerLink="/teacher-services"
      >
        Teacher services
      </a>
      <a
        *ngIf="authService.validateRoles(['ROLE_ADMIN'], 'any')"
        mat-button
        routerLink="/admin-panel"
        >Admin panel</a
      >
    </div>
    <a
      *ngIf="!authService.loggedIn()"
      routerLink="/auth/login"
      mat-button
      matButton="filled"
      class="gradient-bg text-white"
      matFab="rounded"
    >
      <mat-icon>login</mat-icon>
      Login
    </a>
    <a
      *ngIf="authService.loggedIn()"
      (click)="authService.logout()"
      mat-button
      class="gradient-bg text-white"
    >
      <mat-icon>logout</mat-icon>
      Logout
    </a>
  </mat-toolbar-row>

</mat-toolbar>
