/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-bg {
background: rgb(0,71,171);
background: linear-gradient(159deg, rgba(0,71,171,1) 0%, rgba(28,169,201,1) 100%);
}

.gradient-bg-secondary {
background: linear-gradient(225deg, rgba(250, 252, 255, 1), rgba(199, 227, 240, 1));
-webkit-background: linear-gradient(225deg, rgba(250, 252, 255, 1), rgba(199, 227, 240, 1));
-moz-background: linear-gradient(225deg, rgba(250, 252, 255, 1), rgba(199, 227, 240, 1));
}