<mat-toolbar class="gradient-bg text-white">

  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-icon-button class="mr-2 sm:mr-4" [routerLink]="'/home'">
    <mat-icon>house</mat-icon>
  </a>
  <h1 class="text-lg sm:text-xl">{{ text }}</h1>
  <span class="flex-auto"></span>
  <div class="flex items-center">
      <mat-icon class="text-white-500 me-1">account_circle</mat-icon>
      <p class="text-sm sm:text-base">{{ getUsername() }}</p>
  </div>
  <a
  *ngIf="authService.loggedIn()"
  (click)="authService.logout()"
  mat-button
  class="text-white ms-4"
  >
  <mat-icon>logout</mat-icon>
</a>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #snav
    mode="side"
    [opened]="!mobileQuery.matches"
    [disableClose]="true"
    class="p-1"
  >
    <mat-nav-list>
      <ng-container *ngFor="let item of items">
        <button mat-list-item *ngIf="item !== '-'" [routerLink]="item.link">
          {{ item.text }}
        </button>
        <mat-divider *ngIf="item === '-'"></mat-divider>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="h-[100vh] p-8 bg-blue-50">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

