<h2 mat-dialog-title class="mx-8 mt-8 text-2xl text-blue-500">
  <ng-container *ngIf="form.value.id" class="flex items-center"><mat-icon class="me-2">edit</mat-icon><span>Edit</span></ng-container>
  <ng-container *ngIf="!form.value.id" class="flex items-center"><mat-icon class="me-2">save</mat-icon><span>Create</span></ng-container>
  {{ name }}
</h2>
<div class="mx-8">
  <mat-divider></mat-divider>
</div>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" novalidate class="mx-8">
    <ng-container *ngFor="let attr of attributes">
      <div class="mb-3">
        <mat-label>{{ attr.name }}</mat-label>
        <ng-container [ngSwitch]="attr.type">
          <!-- Autocomplete field -->
          <ng-container *ngSwitchCase="'select'">
            <mat-form-field
              *ngIf="attr.display"
              appearance="fill"
              class="w-full"
            >
              <input
                #input
                matInput
                [formControlName]="attr.key"
                [matAutocomplete]="auto"
                (keyup)="onAutocompleteKeyUp(input.value, attr)"
              />
              <mat-error *ngIf="form.controls[attr.key].errors">
                Please select a value from the list.
              </mat-error>
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="getDisplay"
              >
                <mat-option
                  *ngFor="let option of attr.filteredOptions | keyvalue"
                  [value]="option.value"
                >
                  {{ option.value.display }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ng-container>

          <!-- Textarea field -->
          <mat-form-field
            *ngSwitchCase="'lob'"
            appearance="fill"
            class="w-full"
          >
            <mat-error *ngIf="form.controls[attr.key].errors">
              Please enter a valid text.
            </mat-error>
            <textarea matInput [formControlName]="attr.key" rows="8"></textarea>
          </mat-form-field>

          <!-- Input field -->
          <mat-form-field *ngSwitchDefault appearance="fill" class="w-full">
            <mat-error *ngIf="form.controls[attr.key].errors">
              {{
                attr.errorMessage
                  ? attr.errorMessage
                  : "Please enter a valid text"
              }}
            </mat-error>
            <input
              matInput
              [formControlName]="attr.key"
              [attr.type]="attr.type"
            />
          </mat-form-field>
        </ng-container>
      </div>
    </ng-container>
  </form>
</mat-dialog-content>
<div class="mx-8">
  <mat-divider></mat-divider>
</div>
<mat-dialog-actions align="end" class="mx-8">
  <!-- Actions -->
  <button mat-flat-button mat-dialog-close><mat-icon>cancel</mat-icon>Cancel</button>
  <button (click)="confirm()" mat-flat-button cdkFocusInitial class="gradient-bg text-white">
    <mat-icon>save</mat-icon>Confirm
  </button>
</mat-dialog-actions>
