<app-toolbar></app-toolbar>
<app-container class="text-center bg-blue-50 inline-block w-[100%] py-5 h-[80vh]">
  <div class="flex flex-col items-center border bg-white rounded px-16 py-6 w-[40%] mx-auto my-0">
    <img src="assets/logo2.png" alt="University of Toronto" width="200px" class="mb-6"/>

    <form [formGroup]="form" novalidate class="w-[100%]">
        <mat-form-field appearance="outline" class="block">
          <mat-error *ngIf="form.controls['username'].errors">
            Please enter a valid username.
          </mat-error>
          <input matInput formControlName="username" type="text" placeholder="username" />
        </mat-form-field>
        <div class="flex flex-col justify-end">
          <mat-form-field appearance="outline" class="block">
            <mat-error *ngIf="form.controls['password'].errors">
              Please enter a valid password.
            </mat-error>
            <input matInput formControlName="password" type="password" placeholder="password" />
          </mat-form-field>
          <a href="" class="underline text-blue-500 text-end">forgot password?</a>
        </div>


        <button
          (click)="login()"
          mat-flat-button
          cdkFocusInitial
          class="gradient-bg text-white w-[100%] mt-6"
        >
          <mat-icon>login</mat-icon>
          Login
        </button>
    </form>
  </div>
</app-container>
